<div class="contact-wrapper">
  <div class="intro-contact">
    <h2>Me contacter</h2>
    <p>
      Que ce soit pour une question, une opportunité de collaboration ou un
      simple bonjour, n'hésitez pas à me contacter !
    </p>
  </div>
  <div class="contact-method-list">
    <div class="contact-method">
      <a href="MonCV.pdf">
        <img
          class="img-contact-method"
          src="contact-method-01.png"
          alt="Download CV"
        />
        <h3>Mon CV</h3>
        <p>Télécharger</p>
      </a>
    </div>
    <div class="contact-method">
      <img
        class="img-contact-method"
        src="contact-method-02.png"
        alt="email address"
      />
      <h3>Email</h3>
      <p class="email-text">{{ email }}</p>
    </div>
    <div class="contact-method">
      <a href="https://www.linkedin.com/in/son-tony-dinh-7155b51a2/">
        <img
          class="img-contact-method"
          src="contact-method-03.png"
          alt="linkedin"
        />
        <h3>Linkedin</h3>
        <p>Son-Tony DINH</p>
      </a>
    </div>
  </div>
</div>
