<main>
  <div class="home-wrapper">
    <nav class="primary-navigation">
      <ul class="nav-list">
        <li><a href="" class="nav-elem">Accueil</a></li>
        <li><a href="" class="nav-elem">Mes Projets</a></li>
        <li><a href="" class="nav-elem">Mes expériences pro</a></li>
        <li><a href="" class="nav-elem">Contact</a></li>
      </ul>
      <ul class="contact-list">
        <li>
          <a href="">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4ElEQVR4nO2WvQ4BQRSFvxU6P4VG5wU0KioqiQ3eQu81VJ7DA+h0RFTeQLUrohSFiLArktlkTGOLmVk/e5JT3HPvzZfMTDGQ6h/VA3ZAqMk+4MYB+xqhkb044NCQ30pdOAJL4GwTfAKqIq8DN1vgtdLzbIEvQEPkAyCwecd3YJ/E4xoLT0R9kLIZsAVGQB8YAitdYEfkeVFvpNkmUFL2M8DcNDhSmVd1TIMdYCHyqZRXTINr0twVyIo8ZxrcUmYLUi8wCW4rs8UUzDcedajJnwv2k/r6uJrhT2g3DjjVb+kBRsV7Hz5Qag0AAAAASUVORK5CYII="
              alt="linkedin"
            />
          </a>
        </li>
        <li>
          <a href="">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABr0lEQVR4nO2Vu0oDQRSGPxVUFCwUJF4RL621F0RRsDOoqLWNhZdokdbKt1CJF7QSBEWCFoJPYGMVKy3shIgx3mKiEpiFZZiZnd0EscgPQ9jN+c+35zBnBkr6h2oHIsAFkADSYiXEuxWgrZjAFmATyAI/HisHHAEdhUIngRcLoLxSQDgodE1U4Bfqrn41SKW5AqBuuHXlrYr29gG9QMwDFBNxA1Lbm23AquRVUjeGgUagQvyOiPeOqiX/ts3IqHZvN/7UI/mzopNaRTQtHPQJHlLkWDYZzhWGY4LpVMoTNwXfKsD9AcFy1QlTcMpjY/lRreJQ0SqtANcRTA1SnldT8J0CPBEQPC3luTcFxxXgazGXflQD3Eh5zkyGqGacLm1PHzGvV4ocUZMpf59mNPA3YAeYBTolX/55DtgD3hXeDNDk9cUHLsM8cKL4gHHJMwp8GM7wfduLPykMj0A9cCgSPwHrGt+GBvpsU62jGde1uGDp6dJci1O2UEdLwDfwAIxZ7OxyBXSRgAqL9roTmuTEJINUKis/RlvAlwX4E9gFQhRRIXFtVmr+L/Mx6yXxZ/oFDl37po6ZopsAAAAASUVORK5CYII="
              alt="github"
            />
          </a>
        </li>
      </ul>
    </nav>
    <section class="hero-banner">
      <div class="hero-content">
        <h1>Son-Tony Dinh</h1>
        <p>
          Ingénieur diplômé de l'INSA Lyon en télécommunications, je suis
          passionné par le développement web. Spécialisé dans les technologies
          Angular et Java Spring, je conçois des applications web robustes et
          innovantes.
        </p>
        <button>Let's get started ></button>
      </div>
      <img
        class="profile-picture"
        src="ProfilePicture.jpg"
        alt="profil-picture"
      />
    </section>
    <div class="worked-with">
      <p>Worked with</p>
      <ul class="logo-list">
        <li><img class="logo" src="logo_smile.png" alt="Logo Smile" /></li>
        <li><img class="logo" src="logo_viveris.png" alt="Logo Viveris" /></li>
      </ul>
    </div>
  </div>

  <div class="case-studies-wrapper">
    <div class="intro-case-studies">
      <h2>Case studies</h2>
      <p>
        Solving user & business problems since last 15+ years. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
    <section class="case-studies">
      <article class="flex-group">
        <div class="case-study-content">
          <p class="case-study-tag">Fintech</p>
          <h3>Work name here</h3>
          <p class="case-study-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <button class="case-study-btn">View Case Study ></button>
        </div>
        <img src="" alt="" />
      </article>
      <article class="flex-group">
        <img src="" alt="" />
        <div class="case-study-content">
          <p class="case-study-tag">Fintech</p>
          <h3>Work name here</h3>
          <p class="case-study-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <button class="case-study-btn">View Case Study ></button>
        </div>
      </article>
      <article class="flex-group">
        <div class="case-study-content">
          <p class="case-study-tag">Fintech</p>
          <h3>Work name here</h3>
          <p class="case-study-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <button class="case-study-btn">View Case Study ></button>
        </div>
        <img src="" alt="" />
      </article>
    </section>
  </div>

  <div class="recent-work-wrapper">
    <div class="intro-recent-work">
      <h2>Recent Work</h2>
      <p>
        Solving user & business problems since last 15+ years. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
    <section>
      <article>
        <img src="" alt="" />
        <h3>Work Name Here</h3>
        <p>
          Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut
          labore et dolore magna.
        </p>
        <button>Know more ></button>
      </article>
      <article>
        <img src="" alt="" />
        <h3>Work Name Here</h3>
        <p>
          Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut
          labore et dolore magna.
        </p>
        <button>Know more ></button>
      </article>
    </section>
  </div>

  <div class="contact-wrapper">
    <div class="intro-contact">
      <h2>Get in Touch</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <form action="">
      <input type="text" />
      <input type="text" />
      <input type="text" />
      <button>Submit ></button>
    </form>
    <div class="footer"></div>
  </div>
</main>
