<div class="recent-work-wrapper">
  <div class="recent-work-container">
    <div class="intro-recent-work">
      <h2>Mes expériences</h2>
      <p>
        Solving user & business problems since last 15+ years.Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
    <section class="recent-work-content">
      <article>
        <img class="img-recent-work" src="recent-work-01.jpg" alt="" />
        <h3>Développeur Full Stack Angular / Java Spring (6 mois)</h3>
        <p>
          Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut
          labore et dolore magna.
        </p>
        <button>En savoir plus ></button>
      </article>
      <article>
        <img class="img-recent-work" src="recent-work-02.jpg" alt="" />
        <h3>Développeur Full Stack Angular / Java Spring (6 mois)</h3>
        <p>
          Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut
          labore et dolore magna.
        </p>
        <button>En savoir plus ></button>
      </article>
    </section>
  </div>
</div>
