<div class="case-studies-wrapper">
  <div class="intro-case-studies">
    <h2>Mes projets</h2>
    <p>
      Voici un aperçu des projets qui reflètent mon expertise en développement
      web
    </p>
  </div>
  <section class="case-studies">
    <article class="case-study">
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Application de gestion de budget</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
      <a href="">
        <img class="img-right" src="case-study-01.jpg" alt="" />
      </a>
    </article>
    <article class="case-study">
      <a href="">
        <img class="img-left" src="case-study-02.png" alt="" />
      </a>
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Clone de Instagram (version Desktop)</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
    </article>
    <article class="case-study">
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Exemple de Saas en Angular</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
      <a href="">
        <img class="img-right" src="case-study-03.jpg" alt="" />
      </a>
    </article>
  </section>
</div>
