/* Home */
.home-wrapper {
  background-color: #080808;
  color: #9c9c9c;
}

.home-wrapper h1 {
  color: white;
}

.home-wrapper button {
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(76, 175, 80, 0.3);
  width: 300px;
}

.home-wrapper button:hover {
  background-color: #45a049; /* Changer la couleur de fond au survol */
  color: #fff; /* Couleur du texte reste blanc */
  transform: scale(1.05); /* Agrandir légèrement le bouton */
  box-shadow: 0 0 30px rgba(76, 175, 80, 0.5); /* Ombre plus marquée pour un effet de profondeur */
}

.primary-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  background-color: #1b1b1b;
}

.nav-list {
  display: flex;
  gap: 5rem;
}

.nav-elem {
  color: #9c9c9c;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-elem:hover {
  color: #ff6f61; /* Couleur de survol, ici un rouge corail */
  transform: scale(1.1); /* Agrandissement léger lors du survol */
}

.contact-list {
  display: flex;
  gap: 1rem;
}

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 450px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto 0;
  gap: 1.5rem;
}

.profile-picture {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
}

.worked-with {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  min-height: 100px;
}

.logo-list {
  display: flex;
  gap: 1rem;
}

.logo {
  width: 160px;
  height: 60px;
  object-fit: cover;
}

/* Case Studies */
.case-studies-wrapper {
  background-color: #ffffff;
  color: #9c9c9c;

  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;

  padding-block: 5rem;
}

.case-studies-wrapper h2 {
  color: #080808;
}

.case-studies-wrapper h3 {
  color: #080808;
}

.intro-case-studies {
  text-align: center;
  padding: 1rem;
}

.img-right {
  width: 445px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5%;
}

.img-left {
  width: 445px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5%;
}

.case-studies {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

.case-study {
  display: flex;
  gap: 1.5rem;
}

.case-study-content {
  max-width: 60%;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.case-study-content button {
  width: 250px;
  background-color: #2ab090;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px;
}

.case-study-tag {
  background-color: #e0fff8;
  color: #2ab090;
  padding: 0.5rem 1rem;
  border-radius: 15%;
  max-width: 100px;
}

/* Recent Work */
.recent-work-wrapper {
  background-color: #080808;
  color: #9c9c9c;
}

.recent-work-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding-block: 5rem;
  gap: 2rem;
}

.recent-work-wrapper h1 {
  color: white;
}

.recent-work-wrapper h2 {
  color: #ffffff;
}

.recent-work-wrapper h3 {
  color: #ffffff;
}

.intro-recent-work {
  text-align: center;
  padding: 1rem;
}

.img-recent-work {
  width: 445px;
  height: 300px;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 5%;
  background-color: #ffffff;
}

.recent-work-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.recent-work-wrapper article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #1b1b1b;
  border-radius: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.recent-work-wrapper article:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #222; /* Une légère variation de couleur */
}

.recent-work-wrapper button {
  width: 250px;
  background-color: #2ab090;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Contact */
.contact-wrapper {
  background-color: #ffffff;
  color: #9c9c9c;

  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;

  padding-block: 5rem;
}

.contact-wrapper h2 {
  color: #000000;
}

.contact-wrapper h3 {
  color: #000000;
}

.intro-contact {
  text-align: center;
  padding: 1rem;
}

.contact-method-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

.img-contact-method {
  width: 220px;
  height: 150px;
  object-fit: contain;
  border-radius: 5%;
}

.contact-method h3 {
  text-align: center;
}

.contact-method p {
  color: #000000;
  text-align: center;
  font-weight: 900;
}

.contact-method {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.contact-method:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.contact-method a {
  display: inline-block;
  text-align: center;
}

.copied-message {
  text-align: center;
  height: 1rem;
  color: #000000;
}

/* footer */
.footer {
  background-color: #1b1b1b;
  height: 70px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  display: inline-flex;
  align-items: center;
  color: #9c9c9c;
}

.footer img {
  height: 1em;
  width: auto;
  vertical-align: middle;
}
