<div id="home" class="home-wrapper">
  <nav class="primary-navigation">
    <ul class="nav-list">
      <li><a href="#home" class="nav-elem">Accueil</a></li>
      <li><a href="#case-studies" class="nav-elem">Mes Projets</a></li>
      <li><a href="#recent-works" class="nav-elem">Mes expériences pro</a></li>
      <li><a href="#contact" class="nav-elem">Contact</a></li>
    </ul>
    <ul class="contact-list">
      <li>
        <a href="https://www.linkedin.com/in/son-tony-dinh-7155b51a2/">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4ElEQVR4nO2WvQ4BQRSFvxU6P4VG5wU0KioqiQ3eQu81VJ7DA+h0RFTeQLUrohSFiLArktlkTGOLmVk/e5JT3HPvzZfMTDGQ6h/VA3ZAqMk+4MYB+xqhkb044NCQ30pdOAJL4GwTfAKqIq8DN1vgtdLzbIEvQEPkAyCwecd3YJ/E4xoLT0R9kLIZsAVGQB8YAitdYEfkeVFvpNkmUFL2M8DcNDhSmVd1TIMdYCHyqZRXTINr0twVyIo8ZxrcUmYLUi8wCW4rs8UUzDcedajJnwv2k/r6uJrhT2g3DjjVb+kBRsV7Hz5Qag0AAAAASUVORK5CYII="
            alt="linkedin"
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/SonTonyD">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABr0lEQVR4nO2Vu0oDQRSGPxVUFCwUJF4RL621F0RRsDOoqLWNhZdokdbKt1CJF7QSBEWCFoJPYGMVKy3shIgx3mKiEpiFZZiZnd0EscgPQ9jN+c+35zBnBkr6h2oHIsAFkADSYiXEuxWgrZjAFmATyAI/HisHHAEdhUIngRcLoLxSQDgodE1U4Bfqrn41SKW5AqBuuHXlrYr29gG9QMwDFBNxA1Lbm23AquRVUjeGgUagQvyOiPeOqiX/ts3IqHZvN/7UI/mzopNaRTQtHPQJHlLkWDYZzhWGY4LpVMoTNwXfKsD9AcFy1QlTcMpjY/lRreJQ0SqtANcRTA1SnldT8J0CPBEQPC3luTcFxxXgazGXflQD3Eh5zkyGqGacLm1PHzGvV4ocUZMpf59mNPA3YAeYBTolX/55DtgD3hXeDNDk9cUHLsM8cKL4gHHJMwp8GM7wfduLPykMj0A9cCgSPwHrGt+GBvpsU62jGde1uGDp6dJci1O2UEdLwDfwAIxZ7OxyBXSRgAqL9roTmuTEJINUKis/RlvAlwX4E9gFQhRRIXFtVmr+L/Mx6yXxZ/oFDl37po6ZopsAAAAASUVORK5CYII="
            alt="github"
          />
        </a>
      </li>
    </ul>
  </nav>
  <section class="hero-banner">
    <div class="hero-content">
      <h1>Son-Tony Dinh</h1>
      <p>
        Ingénieur diplômé de l'INSA Lyon en télécommunications, je suis
        passionné par le développement web. Spécialisé dans les technologies
        Angular et Java Spring, je conçois des applications web robustes et
        innovantes.
      </p>
      <a href="#case-studies">
        <button>Let's get started ></button>
      </a>
    </div>
    <img
      class="profile-picture"
      src="ProfilePicture.jpg"
      alt="profil-picture"
    />
  </section>
  <div class="worked-with">
    <p>Travaillé avec</p>
    <ul class="logo-list">
      <li>
        <a href="https://smile.eu/fr"
          ><img class="logo" src="logo_smile.png" alt="Logo Smile" />
        </a>
      </li>
      <li>
        <a href="https://www.viveris.fr/">
          <img class="logo" src="logo_viveris.png" alt="Logo Viveris" />
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="case-studies" class="case-studies-wrapper">
  <div class="intro-case-studies">
    <h2>Mes projets</h2>
    <p>
      Voici un aperçu des projets qui reflètent mon expertise en développement
      web
    </p>
  </div>
  <section class="case-studies">
    <article class="case-study">
      <div class="case-study-content">
        <div class="tag-list">
          <p class="case-study-tag">Angular</p>
          <p class="case-study-tag">Python FastAPI</p>
          <p class="case-study-tag">MongoDB</p>
        </div>
        <h3>Learning Book Generator</h3>
        <p class="case-study-description">
          Learning Book Generator est un générateur de livre sur n'importe quel
          sujet. Il permet d'accéder à des cours personnalisés sur des sujets
          variés, créés en temps réel selon vos besoins.
        </p>
        <a
          href="https://prototype-ai-school-frontend.vercel.app/"
          target="_blank"
        >
          <button class="case-study-btn">Visite ></button>
        </a>
      </div>
      <a
        class="align-center"
        href="https://prototype-ai-school-frontend.vercel.app/"
        target="_blank"
      >
        <img class="img-right" src="LBG_03.png" alt="" />
      </a>
    </article>
    <article class="case-study">
      <a
        href="https://sontonyd.github.io/ip-address-tracker-sontonyd/"
        target="_blank"
      >
        <img class="img-left" src="case-study-02.png" alt="" />
      </a>
      <div class="case-study-content">
        <div class="tag-list">
          <p class="case-study-tag">Angular</p>
          <p class="case-study-tag">Geo Api</p>
        </div>
        <h3>Ip Address Tracker</h3>
        <p class="case-study-description">
          L'application IP Address Tracker permet de rechercher et d'afficher
          des informations sur une adresse IP ou un domaine, telles que la
          localisation, le fuseau horaire et l'ISP, avec une carte interactive
          pour visualiser la position.
        </p>
        <button class="case-study-btn">Visite ></button>
      </div>
    </article>
    <article class="case-study">
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Exemple de Saas en Angular</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
      <a href="">
        <img class="img-right" src="case-study-03.jpg" alt="" />
      </a>
    </article>
  </section>
</div>

<div id="recent-works" class="recent-work-wrapper">
  <div class="recent-work-container">
    <div class="intro-recent-work">
      <h2>Mes expériences</h2>
      <p>
        Explorez mes expériences et projets en entreprise, où j'ai pu développer
        des solutions techniques et collaborer avec des équipes engagées. Chaque
        mission témoigne de mon expertise en développement full stack avec
        Angular et Java Spring.
      </p>
    </div>
    <section class="recent-work-content">
      <article (click)="navigateToRoute('/smile')">
        <img class="img-recent-work" src="logo_smile.png" alt="" />
        <h3>Développement Angular Java (6 mois)</h3>
        <p>
          Stage de 6 mois chez SMILE dans la refonte d'une application destinée
          au recrutement au sein de l'entreprise.
        </p>
      </article>
      <article (click)="navigateToRoute('/viveris')">
        <img class="img-recent-work" src="logo_viveris.png" alt="" />
        <h3>Développement Angular Java (6 mois)</h3>
        <p>
          Stage de 6 mois chez Viveris Systèmes dans le développement d'une
          application de logistique pour le CNRS de Grenoble.
        </p>
      </article>
    </section>
  </div>
</div>

<div id="contact" class="contact-wrapper">
  <div class="intro-contact">
    <h2>Me contacter</h2>
    <p>
      Que ce soit pour une question, une opportunité de collaboration ou un
      simple bonjour, n'hésitez pas à me contacter !
    </p>
  </div>
  <div class="contact-method-list">
    <div class="contact-method">
      <a href="MonCV.pdf" target="_blank">
        <img
          class="img-contact-method"
          src="contact-method-01.png"
          alt="Download CV"
        />
        <h3>Mon CV</h3>
        <p>Télécharger</p>
      </a>
    </div>
    <div (click)="copyEmail()" class="contact-method">
      <img
        class="img-contact-method"
        src="contact-method-02.png"
        alt="email address"
      />
      <h3>Email</h3>
      <p class="email-text">{{ email }}</p>
    </div>
    <div class="contact-method">
      <a
        href="https://www.linkedin.com/in/son-tony-dinh-7155b51a2/"
        target="_blank"
      >
        <img
          class="img-contact-method"
          src="contact-method-03.png"
          alt="linkedin"
        />
        <h3>Linkedin</h3>
        <p>Son-Tony DINH</p>
      </a>
    </div>
  </div>
  <div class="copied-message">@if(emailCopied) { Email copié ! }</div>
</div>

<div class="footer">
  <p>Made with &ensp; <img src="angular-icon.png" alt="" /></p>
</div>
