<div id="home" class="home-wrapper">
  <nav class="primary-navigation">
    <ul class="nav-list">
      <li><a href="#home" class="nav-elem">Accueil</a></li>
      <li><a href="#case-studies" class="nav-elem">Mes Projets</a></li>
      <li><a href="#recent-works" class="nav-elem">Mes expériences pro</a></li>
      <li><a href="#contact" class="nav-elem">Contact</a></li>
    </ul>
    <ul class="contact-list">
      <li>
        <a href="https://www.linkedin.com/in/son-tony-dinh-7155b51a2/">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4ElEQVR4nO2WvQ4BQRSFvxU6P4VG5wU0KioqiQ3eQu81VJ7DA+h0RFTeQLUrohSFiLArktlkTGOLmVk/e5JT3HPvzZfMTDGQ6h/VA3ZAqMk+4MYB+xqhkb044NCQ30pdOAJL4GwTfAKqIq8DN1vgtdLzbIEvQEPkAyCwecd3YJ/E4xoLT0R9kLIZsAVGQB8YAitdYEfkeVFvpNkmUFL2M8DcNDhSmVd1TIMdYCHyqZRXTINr0twVyIo8ZxrcUmYLUi8wCW4rs8UUzDcedajJnwv2k/r6uJrhT2g3DjjVb+kBRsV7Hz5Qag0AAAAASUVORK5CYII="
            alt="linkedin"
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/SonTonyD">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABr0lEQVR4nO2Vu0oDQRSGPxVUFCwUJF4RL621F0RRsDOoqLWNhZdokdbKt1CJF7QSBEWCFoJPYGMVKy3shIgx3mKiEpiFZZiZnd0EscgPQ9jN+c+35zBnBkr6h2oHIsAFkADSYiXEuxWgrZjAFmATyAI/HisHHAEdhUIngRcLoLxSQDgodE1U4Bfqrn41SKW5AqBuuHXlrYr29gG9QMwDFBNxA1Lbm23AquRVUjeGgUagQvyOiPeOqiX/ts3IqHZvN/7UI/mzopNaRTQtHPQJHlLkWDYZzhWGY4LpVMoTNwXfKsD9AcFy1QlTcMpjY/lRreJQ0SqtANcRTA1SnldT8J0CPBEQPC3luTcFxxXgazGXflQD3Eh5zkyGqGacLm1PHzGvV4ocUZMpf59mNPA3YAeYBTolX/55DtgD3hXeDNDk9cUHLsM8cKL4gHHJMwp8GM7wfduLPykMj0A9cCgSPwHrGt+GBvpsU62jGde1uGDp6dJci1O2UEdLwDfwAIxZ7OxyBXSRgAqL9roTmuTEJINUKis/RlvAlwX4E9gFQhRRIXFtVmr+L/Mx6yXxZ/oFDl37po6ZopsAAAAASUVORK5CYII="
            alt="github"
          />
        </a>
      </li>
    </ul>
  </nav>
  <section class="hero-banner">
    <div class="hero-content">
      <h1>Son-Tony Dinh</h1>
      <p>
        Ingénieur diplômé de l'INSA Lyon en télécommunications, je suis
        passionné par le développement web. Spécialisé dans les technologies
        Angular et Java Spring, je conçois des applications web robustes et
        innovantes.
      </p>
      <button>Let's get started ></button>
    </div>
    <img
      class="profile-picture"
      src="ProfilePicture.jpg"
      alt="profil-picture"
    />
  </section>
  <div class="worked-with">
    <p>Travaillé avec</p>
    <ul class="logo-list">
      <li>
        <a href="https://smile.eu/fr"
          ><img class="logo" src="logo_smile.png" alt="Logo Smile" />
        </a>
      </li>
      <li>
        <a href="https://www.viveris.fr/">
          <img class="logo" src="logo_viveris.png" alt="Logo Viveris" />
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="case-studies" class="case-studies-wrapper">
  <div class="intro-case-studies">
    <h2>Mes projets</h2>
    <p>
      Voici un aperçu des projets qui reflètent mon expertise en développement
      web
    </p>
  </div>
  <section class="case-studies">
    <article class="case-study">
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Application de gestion de budget</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
      <a href="">
        <img class="img-right" src="case-study-01.jpg" alt="" />
      </a>
    </article>
    <article class="case-study">
      <a href="">
        <img class="img-left" src="case-study-02.png" alt="" />
      </a>
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Clone de Instagram (version Desktop)</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
    </article>
    <article class="case-study">
      <div class="case-study-content">
        <p class="case-study-tag">Fintech</p>
        <h3>Exemple de Saas en Angular</h3>
        <p class="case-study-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <button class="case-study-btn">Détails ></button>
      </div>
      <a href="">
        <img class="img-right" src="case-study-03.jpg" alt="" />
      </a>
    </article>
  </section>
</div>

<div id="recent-works" class="recent-work-wrapper">
  <div class="recent-work-container">
    <div class="intro-recent-work">
      <h2>Mes expériences</h2>
      <p>
        Solving user & business problems since last 15+ years.Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
    <section class="recent-work-content">
      <article>
        <img class="img-recent-work" src="recent-work-01.jpg" alt="" />
        <h3>Développeur Full Stack Angular / Java Spring (6 mois)</h3>
        <p>
          Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut
          labore et dolore magna.
        </p>
        <button (click)="navigateToRoute('/viveris')">En savoir plus ></button>
      </article>
      <article>
        <img class="img-recent-work" src="recent-work-02.jpg" alt="" />
        <h3>Développeur Full Stack Angular / Java Spring (6 mois)</h3>
        <p>
          Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut
          labore et dolore magna.
        </p>
        <button>En savoir plus ></button>
      </article>
    </section>
  </div>
</div>

<div id="contact" class="contact-wrapper">
  <div class="intro-contact">
    <h2>Me contacter</h2>
    <p>
      Que ce soit pour une question, une opportunité de collaboration ou un
      simple bonjour, n'hésitez pas à me contacter !
    </p>
  </div>
  <div class="contact-method-list">
    <div class="contact-method">
      <a href="MonCV.pdf">
        <img
          class="img-contact-method"
          src="contact-method-01.png"
          alt="Download CV"
        />
        <h3>Mon CV</h3>
        <p>Télécharger</p>
      </a>
    </div>
    <div class="contact-method">
      <img
        class="img-contact-method"
        src="contact-method-02.png"
        alt="email address"
      />
      <h3>Email</h3>
      <p class="email-text">{{ email }}</p>
    </div>
    <div class="contact-method">
      <a href="https://www.linkedin.com/in/son-tony-dinh-7155b51a2/">
        <img
          class="img-contact-method"
          src="contact-method-03.png"
          alt="linkedin"
        />
        <h3>Linkedin</h3>
        <p>Son-Tony DINH</p>
      </a>
    </div>
  </div>
</div>

<div class="footer">
  <p>Made with &ensp; <img src="angular-icon.png" alt="" /></p>
</div>
